* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }


 .menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 }

 .logo-img {
    height: 50px;
 }

 .logo-img img{
   height: 70px;
   width: 70px;
 }

 .menu-icon {
    font-size: 2.4em;
    color: #ffffff;
    line-height: 50px;
 }

 .nav {
    position: absolute;
    background-color: darkmagenta;
    top:70px;
    left:0;
    width: 100%;
    display: block;
 }

 .nav ul {
    list-style-type: none;
 }
 .nav ul li {
    padding: 0 15px;
 }
 .nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.05em;
 }


 @media(max-width: 700px) {
   

   .nav{
    display:none;
   }

   .logo-img{
      display: none;
   }

    .btn-menu{
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: darkmagenta;
       border-radius: darkmagenta;
    }

}
